<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head'); %>
<body class="text-center">
<main class="form-signin rounded max-w-forgp">
    <form action="/sent" method="get">
        <img class="w-25 mb-4 d-flex justify-content-start" src="/images/Logo.png" alt="Free-Lánzate">
        <p class="h5 welcome mb-3 fw-bold">¿Olvidaste tu contraseña?</p>
        <div class="form-floating w-75 mx-auto mt-5">
            <input
                    type="email"
                    class="form-control mb-5"
                    id="email"
                    name="email"
                    placeholder="username"
            />
            <label for="email">Correo electrónico</label>
        </div>
        <div>
            <button class="w-75 btn btn-lg btn-primary fw-bold mx-auto mb-3 d-flex align-items-center" type="submit">Recuperar ahora <i class="bi bi-envelope-fill button-icon"></i></button>
        </div>
    </form>
</main>
</body>
</html>